{% extends 'base.html.twig' %}

{% block body %}
    <dl>
        <dt>Départ</dt>
        <dd>{{ Trajet.depart.gare }} (voie {{ Trajet.depart.voie }}) : {{ Trajet.depart.horaire|date('H:i') }}</dd>

        <dt>Arrivée</dt>
        <dd>{{ Trajet.destination.gare }} (voie {{ Trajet.destination.voie }}) : {{ Trajet.destination.horaire|date('H:i') }}</dd>

        <dt>Arrêts</dt>
        <dd>
            <ul>
                {% for arret in Trajet.arrets %}
                    <li>{{ arret.gare }} (voie {{ arret.voie }}) : {{ arret.horaire|date('H:i') }}</li>
                {% endfor %}
            </ul>
        </dd>

        <a href="{{ path('trajets_liste') }}">Retour</a>
    </dl>
{% endblock %}
