{% extends 'base.html.twig' %}

{% block body %}
    <dl>
        <dt>Formule</dt>
        <dd>
            <select id="change-formule" onchange="handleChangeFormule()">
                <option value="">Choisir une formule</option>
                <option value="big_voyageur">Gigantesque voyageur</option>
                <option value="student">El estudiante</option>
            </select>
        </dd>

        <dt>Départ</dt>
        <dd>{{ Trajet.depart.gare }} (voie {{ Trajet.depart.voie }}) : {{ Trajet.depart.horaire|date('H:i') }}</dd>

        <dt>Arrivée</dt>
        <dd>{{ Trajet.destination.gare }} (voie {{ Trajet.destination.voie }})
            : {{ Trajet.destination.horaire|date('H:i') }}</dd>

        <dt>Tarif</dt>
        <dd>
            {{ render(controller(
                'App\\Infrastructure\\Controller\\Trajets\\Tarif',
                {
                    'id': Trajet.id,
                    'arretId': app.request.query.get('arretId'),
                    'formule': app.request.query.get('formule')
                }
            )) }}
        </dd>

        <dt>Arrêts</dt>
        <dd>
            <ul>
                {% for arret in Trajet.arrets %}
                    <li>
                        {% if app.request.query.get('arretId') == arret.id %}
                        <strong>
                        {% endif %}
                            {{ arret.gare }} (voie {{ arret.voie }}) : {{ arret.horaire|date('H:i') }}
                            <a href="{{ path('trajet_detail', {
                                'id': Trajet.id,
                                'arretId': arret.id
                            }) }}">Sélectionner le trajet</a>
                        {% if app.request.query.get('arretId') == arret.id %}
                        </strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </dd>

        <a href="{{ path('trajets_liste') }}">Retour</a>
    </dl>
{% endblock %}

{% block javascripts %}
    <script>
        const handleChangeFormule = () => {
            const formule = document.getElementById('change-formule').value
            const arretId = '{{ app.request.query.get('arretId') }}'

            const url = '{{ path('trajet_detail', {
                'id': app.request.attributes.get('id'),
            }) }}'

            const queryParams = {}
            if (formule) queryParams.formule = formule
            if (arretId) queryParams.arretId = arretId

            const params = new URLSearchParams(queryParams)

            window.location.href = `${url}?${params}`
        };
    </script>
{% endblock %}
